@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Scriptin";
  src: url(assets/fonts/Scriptin.ttf);
}

@font-face {
  font-family: "Andasia";
  src: url(assets/fonts/Andasia.ttf);
}
