@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Scriptin";
  src: url(assets/fonts/Scriptin.ttf);
}

@font-face {
  font-family: "Andasia";
  src: url(assets/fonts/Andasia.ttf);
}

.primary {
  @apply bg-amber-800;
}

.primary-hover {
  @apply hover:bg-amber-900;
}
